h1 {
  text-align: center
}

html {
  font-family: Helvetica Neue, Arial, sans-serif;
  background: whitesmoke;
}

label {
  width: 100%;
}

form {
    border-style: solid;
    border-width: 50px;
}
#parent {
    display: table;
    width: 100%;
}

#form-login {
display:table-cell;
text-align: center;
vertical-align: middle;

}